/*Slider*/
.unslider{overflow:auto;margin:0;padding:0}.unslider-wrap{position:relative}.unslider-wrap.unslider-carousel>li{float:left}.unslider-vertical>ul{height:100%}.unslider-vertical li{float:none;width:100%}.unslider-fade{position:relative}.unslider-fade .unslider-wrap li{position:absolute;left:0;top:0;right:0;z-index:8}.unslider-fade .unslider-wrap li.unslider-active{z-index:10}.unslider li,.unslider ol,.unslider ul{list-style:none;margin:0;padding:0;border:none}.unslider-arrow{position:absolute;left:20px;z-index:2;cursor:pointer}.unslider-arrow.next{left:auto;right:20px}
/*Slick*/
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir='rtl'] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
body
	font-family 'Lato', sans-serif
	overflow-x hidden
a
	color #333
img
	max-width 100%
header
	background-color: #1a1c27
	text-align right
	.logo
		float left
		margin 1em 0 0
	nav
		display inline-block
		ul
			margin 0
			padding 3em 0 0
			li
				float left
				list-style none
				padding: 0 1.5em
				cursor pointer
				a
					color #fff
					display block
					padding .5em 0 3em
					text-transform: uppercase;
					font-weight bold
					position relative
				a:focus
					color #109c9d
				a:after
					content ""
					height 5px 
					width 100%
					position absolute
					bottom -5px
					left 0
					opacity 0
					background-color: transparent
					transition-duration .5s
			li:hover a, li.active a
					color #109c9d
					text-decoration none
			li:hover a:after, li.active a:after
					background-color: #109c9d
					opacity 1
			li.current-menu-item a:after, li.current_page_item a:after
				background-color: #109c9d
				opacity 1
h2,h3
	font-weight 300
	color #34495e
.clear
	clear both
.home
	.tipo
		article
			height: 458px;
		.box-tipo
			position relative
			display block
			position: relative;
			top: 50%;
			transform: translateY(-50%);
	.unslider li img 
		display block 
		margin 0 auto
.slider
	padding 0 0 2em
	.unslider-nav
		display block
		text-align center
		ol
			display inline-block 
			li 
				float left
				font-size 0
				position relative
				height: 20px;
				width: 20px;
				border: 1px solid #333;
				margin: 5px;
				border-radius: 50%;
				overflow: hidden
				cursor pointer
			li.unslider-active:after
				content: "";
				position: absolute;
				width: 12px;
				height: 12px;
				margin: 3px;
				background-color: #109c9d;
				border-radius: 50%;
				left: 0;
.menu.sidebar
	height: 100%;
	background-color: #1a1c27
	border-right: 1px solid rgba(142, 142, 142, 0.28);
	text-transform: uppercase;
	font-weight: 600;
	h3
		display: block;
		margin: 0;
		height: 89px;
		background-color: #0d9b95;
		color: #fff;
		font-weight: 600;
		font-size: 1.8em;
		text-align: left;
		line-height: 3.65em;
		text-indent: .8em;
		span
			float: right;
			display: block;
			height: 100%;
			width: 85px;
			font-size: 1.75em;
			text-align: center;
			line-height: 2em;
			background-color: #1a1c27;
			border-bottom: 1px solid #444;
			text-indent: 0;
	ul
		padding 0
		li
			list-style none
			a
				display: block;
				padding: 1em 1.5em;
				color: #fff;
			a:hover
				color #000
				background-color #fff
				text-decoration none
.featured
	background-color: #f9fafb
	padding 2em 0 4em
	h2.heading
		font-size 2.5em
		margin-bottom: 1.5em
		strong
			font-weight 900
	
	.box
		margin-bottom 2em
		article
			background-color: #FFF
			border-radius 8px
			border 1px solid #e2e2e2
			position relative
			cursor pointer
			figure
				text-align center
				height 315px
				position relative
				a
					padding: 2em;
					display: block;
					height: 100%;
					width: 100%;
					-webkit-transform-style: preserve-3d;
					-moz-transform-style: preserve-3d;
					transform-style: preserve-3d;
					img
						position: relative;
						top: 50%;
						transform: translateY(-50%);
			figure a:after
				content "\f002"
				position absolute		
				opacity 0
				width 100%
				height 100%
				left 0	
				top 0
				background-color: rgba(8,179,171,0.72);
				transition-duration: .5s;
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				font-size: inherit;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				color: #fff;
				font-size: 2em;
				line-height: 11em;
		article:hover figure a:after
			opacity 1
		article:hover h2
			background-color #2c3e50
			a
				color #fff !important
			
		h2
			font-weight: 600;
			margin: 0;
			padding: .8em 1em
			border-top: 1px solid #e2e2e2;
			line-height: 1.7em;
			font-size: 1.3em;
			transition-duration 0.5s
			a
				text-decoration none
				color #2c3e50
			strong
				font-weight 900
				
.services
	padding 2em 0 1em
	
	p
		color #a1b1bc
		max-width: 520px;
		margin: 0 auto;
		font-weight: 300;
		line-height: 1.75em;
	h2
		color #2c3e50
		font-size 2.55em
		line-height 1em
		margin-bottom .5em
	.heading
		text-align center
		margin-bottom 5em
		h2
			font-size 2.75em
			text-transform uppercase
			font-weight 300
			margin-bottom .7em
		p
			margin 0 auto 
	.tipo
		overflow hidden
		margin-bottom 5em
		article
			h2
				margin 0
			h3
				font-weight 600
				color #2c3e50		
				font-size 1.35em
				margin-bottom .2em
				line-height: 1em;
				margin-top 0
			.item-serv
				overflow: hidden;
				padding-top: 3.5em;
			a.btn-vermas
				color #0d9b95
				font-weight 600
				font-size 1.1em
				display block 
				margin-top .4em
			span.icono
				width 35px
				height 35px
				border-radius 5px
				float left
				display inline-block
				background-color: #34495e
				margin-right .8em
				background-repeat no-repeat
				background-position 50% 50%
				background-size contain
			.title:hover span.icono
				background-color #0d9b95
				

.news
	background-color: #f9fafb
	padding 1.5em 0 4.5em
	p
		
		margin: 0 auto;
		font-weight: 400;
		line-height: 1.5em;
		font-size: 1.05em;
		text-align justify
		a
			color: rgba(102, 119, 130, 0.68);
	.heading
		font-size 1.7em
		strong
			font-weight 900
	.icons
		opacity 0
		transition-duration 0.5s
		text-align: center;
		display block
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		a
			font-size 2em
			position: absolute;
			top: 50%;
			color #fff
			transform: translateY(-50%);
	.icons, .date
		top: 0;
		left: 0;
		position absolute
	.date
		height 100%
		width 40px
		background-color #686d80
		color #fff
		text-align center
		padding 1.2em 0 0 0
		z-index 9
	figure, .info
		float left
		width 50%
		position relative
		background-color: #fff
		display block
		height 200px
	figure
		img
			height 200px
			width 100%
	.info
		padding .1em 1.2em
		transition-duration 0.5s
	.info:after
		right: 100%;
		top: 13%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255,255,255,0);
		border-right-color: #ffffff;
		border-width: 8px;
		z-index: 99999;
		margin-top: -9px;
	h3
		font-weight 600
		font-size 1.3em
		line-height: 1.2em;
		a
			color #2c3e50
	article:hover .info
		background-color: #34495e
	article:hover .info a
		color #fff
	article:hover .info p.excerpt a 
		color #a1b1bc
	article:hover .info:after
		border-right-color: #34495e
	article:hover .icons
		opacity: 1;
		background-color: rgba(6, 177, 169, 0.72);
		width: 100%;
		height: 100%;
		z-index: 8;
footer
	background-color: #1a1c27
	padding 6em 0 0
	h2
		color #fff
		font-weight 600
		letter-spacing: 3px
		font-size 1.2em
		margin-bottom 3em
		margin-top 2em
	p
		color #a1b1bc
		font-weight 300
		max-width 300px
		line-height 1.9em
	ul
		padding 0
	.tel, .dir
		list-style-type none
		padding 0 0 0 33px
		background-position 0% 50%
		background-repeat no-repeat
		p
			line-height 1.2em
	.tel 
		background-image url('../img/tel.png')
	.dir 
		background-image url('../img/marker.png')		
	.suscribe
		input, button
			border 0
			display block
			width 100%
		input
			padding 1em 1.5em
			outline none
			border-radius 5px
			background-color: #2d323f 
			margin-bottom .7em
			color #e0e0e0
			border 1px solid rgba(153, 153, 153, 0.18)
		span.wpcf7-not-valid-tip
			display block
			margin-bottom: 1em;
		div.wpcf7-response-output
			color #fff
			display: inline-block !important;
			margin-top: 0;
		button 
			padding 1em
			border-radius 5px
			
			font-weight 900
			background-color: #0d9b95
			color #fff
	.copy
		background-color: #222533
		text-align center
		padding: 1em 0;
		margin-top: 6em;
		p
			margin 0 auto
			max-width 100%
			font-weight 300
			color #bbc4ca
			a
				color #0d9b95
				font-weight 600
	.redes 
		a
			display: inline-block;
			border: 1px solid #3e3e3e;
			padding: .3em .1em;
			width: 35px;
			text-align: center;
			font-size: 1.2em;
			color: #a4adb1;
			font-weight: 900;
			margin-right: .5em;
			transition-duration 0.5s
		a:hover
			color #fff
			background-color: #0d9b95
			border: 1px solid #0d9b95;
header .menu-dropdown
	display none
.mobile
	display none
.breadcrumbs
	background-color: #ececed
	border-bottom: 1px solid rgba(191, 191, 191, 0.49);
	h2
		font-weight 400
		font-size 2em
		color #1a1c27
.nosotros
	.banner
		height 500px
		background-position 50% 50%
		background-size cover
		.container
			position relative
			height 100%
			.col-md-12
				height 500px
		article
			position absolute
			bottom 0
			right 0
			text-align right
		h1
			font-size: 4.5em;
			color: #fff;
			font-weight: 900;
			line-height: 1em;
			margin-bottom: .2em;
			
			strong
				font-weight 600
				color #0d9b95
	
	.contenido
		article
			padding 2em 0 0
			h2
				font-weight 900
				color #2c3e50
				font-size 2.2em
				letter-spacing 2px
			h3
				color: rgb(161, 177, 188);
				font-weight 400
				font-size 1.6em
				line-height 1.2em
			p
				color: rgb(161, 177, 188);
				font-size: 1.1em;
				font-weight: 300;
				line-height: 1.7em;
				margin-bottom: 1.35em;
			.featured-image img 
				margin-bottom 0
		.orientacion
			color #fff
			font-size 0
			text-align center
			.box
				min-width: 285px
				display inline-block
				width 25%
				height: 212px;
				vertical-align: top;
				padding 35px 30px
				h2
					color #fff
					font-size 15px
					font-weight 900
					text-transform: uppercase;
					letter-spacing: 2px
				p
					font-size 14px
		.politica
			padding 2em 0 4em
			h2
				font-weight 400
				font-size 2.2em
				margin-bottom .5em
			div.excerpt
				color: rgb(161, 177, 188);
				font-size: 1.2em;
				font-weight: 300;
				line-height: 1.5em;
				margin-bottom: 1.35em;
				margin-bottom 2em
			.box
				text-align center
				margin-bottom: 2em;
				h2
					font-weight 600
					color #2c3e50
					margin-bottom 0
					margin-top 0
					text-align left
					font-size 1.3em
				article
					font-weight 300
					padding 0
					text-align justify
					p
						line-height 1.5em
.nav-links
	color #000
	text-align right
	.page-numbers
		color: #34495e;
		padding: .3em .7em;
		text-decoration none
	.page-numbers.current
		background-color: #1abc9c;
		color: #fff;
		border-radius: 5px;
	a.prev, a.next
		color: #fff;
		background-color: #34495e;
		border-radius: 4px;
		font-weight: 400;
		transition-duration 0.3s
	a.prev
		margin-right 1em
	a.next
		margin-left 1em
	a.prev:hover, a.next:hover
		background-color: #1abc9c;
.productos
	
	.contenido
		padding 3em 0
	.breadcrumbs
		background-color: #ececed
	.big-box
		background-color #f7f7f7
		
	.list.featured, .view
		background-color #fff
	.view

		h2
			font-weight: 600;
			font-size: 2.85em;
			margin: 0;
		article
			font-weight: 300;
			color: #a1b1bc;
			font-size: 1.1em;
			p
				margin-top .2em
				margin-bottom .5em
		.box article
			font-size 1em
	aside
		padding-top 1.5em
		padding-bottom 1em
		.find-prod
			display block
			overflow hidden
			input , button 
				border 0
				float left
				padding .5em
				border 1px solid #999
				background-color: #FFF
			input
				margin-bottom 3em
				width 80%
				border-right 0
			button 
				background url("../img/find.png") no-repeat 50% 50% #fff
				width 12%
				border-left 0
				padding 1.2em .5em
		nav
			ul 
				margin-top 0
				padding 0
				list-style none
				li
					a
						display block
						font-weight 900
						color #2c3e50
						padding: .8em .8em
						transition-duration 0.3s
						text-decoration none
					a:hover
						background-color: #1a1c27
						color #fff
				li.active
					a
						background-color: #1a1c27
						color #fff
	.title
		h1, h3 
			margin 0
			line-height 1.1em
			color #0d9b95
			font-weight 400
		h1
			font-size 4.2em						
			font-weight 600
			color #2c3e50
		h3
			font-size 1.8em
			margin-bottom 1em
	.full, .thumb
		float left 
		height 480px
		position relative
	.full
		width 78%
		border: 1px solid #d4d4d4;
		
		.slick-arrow
			position absolute
			top 0
			font-size 0
			height 100%
			border 0
			width 20px
			z-index 99999
			outline none
			background-color: #f1f1f1
			transition-duration 0.3s
		.slick-arrow:hover
			background-color: #0d9b95;
		.slick-arrow:hover:after
			color #fff
		.slick-arrow:after
			content: '\2770';
			position: absolute;
			font-size: 20px;
			color: #788188;
			left: 5px;
			top: 46%;
		.slick-prev
			left 0
		.slick-next
			right 0
		.slick-next:after
			content '\2771'
			left: 6px;
		.slick-list, .slick-track, .slick-slide
			height 100%
		.slick-slide
			-webkit-transform-style: preserve-3d;
			-moz-transform-style: preserve-3d;
			transform-style: preserve-3d;
			text-align center
			img 
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				margin: 0 auto;
			
	.thumb
		width: 18%;
		margin: 0 0 0 4%;
		.slick-slide
			margin-bottom 1.3em
			border: 1px solid rgba(0, 0, 0, 0.13)
			outline none
		.slick-slide.slick-current
			border: 1px solid #0d9b95;
			border-top: 2px solid #0d9b95;
		.slick-list
			height 100%
	.especificaciones, .caracteristicas, .aplicaciones, .observaciones, .certificaciones
		
		color: #a1b1bc;
		strong
			color #2c3e50	
		h2
			font-weight 600
			margin-top 0
			margin-bottom 0em
			font-size: 1.35em;
		ul
			padding 0 
			list-style none
	.especificaciones
		margin-bottom 1.5em
		p
			margin-bottom: .2em;
			margin-top: .3em;
		
	.caracteristicas
		ul
			margin-top .2em
			li
				position relative
				padding-left 1em
				margin-bottom .35em
			li:after
				content ""
				position absolute
				height 5px 
				width 5px 
				background-color: #0d9b95
				border-radius 50%
				left 0
				top: .6em;
	.solicitar
		background-color: #34495e
		color #fff
		display inline-block
		padding 1.2em
		margin-top 1em
		font-weight 600
		border-radius 4px
		transition-duration 0.3s
		text-decoration none
	.solicitar:hover
		background-color: #0d9b95;
		
	.observaciones, .aplicaciones
		background-color: #FFF
		padding-top 1em
		z-index 999999
	.aplicaciones, .certificaciones
		ul
			li 
				display inline-block
				width 60px
				text-align center
				margin 3px
				vertical-align: top
				small, img
					color #333
					display block
					line-height 1.2em
				small
					margin-top .3em
					font-size .7em
	.observaciones
		article
			border: 1px solid #e2e2e2;
			padding: 0 1.5em;
			margin-top: 1.3em;
	.certificaciones
		ul li 
			width 170px
.servicios
	.heading
		margin-bottom 5em
	article
		margin-bottom 3em
		h2
			font-weight 600
			font-size 1.5em
			text-transform uppercase
			margin 0 .65em 1.5em
			text-align center
		.box 
			background-color: #2c3e50
			overflow hidden
			height 530px
			margin 0 1em
			border-radius 5px
			position relative
			
			a	
				color: #fff;
				text-align: center;
				display: block;
				padding: 1em;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				z-index 999
				transition-duration 0.5s
				text-decoration none
				img, span
					display block
					margin 0 auto
				span
					font-size 1.2em
					letter-spacing 1px
					margin 0 2.3em
					margin-bottom 3em
				img
					margin-bottom .5em
		.box:hover a
			color #00c5bd
			
		.box:after
			position: absolute;
			display: block;
			height: 96%;
			margin: .8em 4% 4%;
			border: 1px solid #2c3e50
			left: 0;
			top: 0;
			width: 92%;
			content: "";
			opacity 0
			transition-duration 0.5s
		.box:hover:after
			border: 1px solid #109c9d;
			opacity 1
	.detalle
		.heading
			
			margin-bottom: 1.4em
			margin-top 4em
			text-align center
			h2
				margin 0 auto 1em
				text-align center
				max-width 480px
				display block
				line-height 1.25em
				font-size 2.5em
				text-transform: uppercase;
			p
				color: #a1b1bc;
				max-width: 720px;
				margin: 0 auto;
				font-weight: 300;
				line-height: 1.75em;
				
				
		.info >	h2
			color #0d9b95
			font-size 2em
			font-weight 600
		.info
			display block
			margin 0 auto 2em
			max-width 992px
			float none
			overflow hidden
			article
				margin-bottom 0
				color #2c3e50
				font-size 1.2em
				p
					max-width: 100%;
					margin: 0 auto 1em;
					
				h3
					font-weight 600
					color #2c3e50
					font-size 1.1em
				ul
					padding-left 1.2em
					li
						margin-bottom .7em
				ol
					padding-left 1.2em
					li
						margin-bottom .7em
				img.alignleft
					margin: .5em 1.8em 1em 0;
				img.alignright
					margin: .5em 0 1em 1.8em;
			.solicitar
				background-color: #34495e
				color #fff
				display inline-block
				padding 1.2em
				margin-top 1em
				font-weight 600
				border-radius 4px
				transition-duration 0.3s
				text-decoration none
				float right
			.solicitar:hover
				background-color: #0d9b95
.blog
	.find-post
		display block
		overflow hidden
		margin-top 1em
		input , button 
			border 0
			float left
			padding .5em
			border 1px solid #999
			background-color: #FFF
		input
			margin-bottom 1.5em
			width 80%
			border-right 0
		button 
			background url("../img/find.png") no-repeat 50% 50% #fff
			width 12%
			border-left 0
			padding 1.2em .5em

	.list-posts
		padding-bottom 4em
		.remove-trans:after
			display none !important
			
		article
			margin-bottom 4em
			figure > a.remove-trans
				height 300px
				iframe
					min-height 300px
					max-height 300px
			figure > a
				position relative
				display block
				height 300px
				img, iframe
					width: 100%
					height 100%
					
				
			a.box-img:after
				opacity 0
				transition-duration 0.5s
				
			figure:hover a.box-img:after
				content ''
				position absolute
				height 100%
				width 100%
				background-color rgba(10, 154, 148, 0.65)
				left: 0;
				top:  0;
				opacity 1
			figure:hover h2 a
				color rgb(10, 154, 148)
				transition-duration 0.3s
						
			h2
				font-size 2em
				font-weight 600
				line-height	 1.1em
				margin-top .55em
				margin-bottom .2em
				a
					color #2c3e50
					text-decoration none
			.date
				padding: .5em 0;
				font-size: .9em;
				color: rgba(161, 177, 188, 0.81);
				letter-spacing: 1px;
				border-bottom: 1px solid #e6e6e6;
				margin-bottom: 1.35em;
			.excerpt
				color: #788d9b;
				font-weight: 300;
				line-height: 1.7em;
				margin-bottom: 1.3em;
			.btn-vermas
				display inline-block
				text-transform uppercase
				color #2c3e50
				border 1px solid #2c3e50
				padding 1em
				font-size 1.1em
				letter-spacing 1px
				border-radius 3px
				font-weight 900
				text-decoration none
				transition-duration 0.3s
			.btn-vermas:hover
				background-color #2c3e50
				color #fff
	.recent-posts
		.heading
			margin-bottom 1.3em
			h2
				background-color: #2c3e50
				margin-top 0
				color #fff
				font-weight 400
				font-size 1.1em
				padding .8em .5em
				text-align center
				border-top 4px solid #1abc9c
				
		figure
			padding-right 0
			img, iframe 
				width 100%
				height 80px
		figure, article
			height 80px
		.box:after
			content ""
			position relative
			display block
			padding 0 0 1.3em 15px
			margin-bottom 1.3em
			border-bottom 1px solid #e2e2e2
			overflow hidden
		.box:last-child:after
			border-bottom 0
		article
			padding-left 0
			.date, a
				padding-left 1em
				display block
			.date
				font-size: .85em;
				color: rgb(161, 177, 188);
				font-weight: 300;			
			a
				color #2c3e50
				font-weight 600
	.detalle
		.box 			
			nav
				overflow: hidden;
				padding: 0 0 1.5em;
				margin-bottom: 1.5em;
				border-bottom: 1px solid rgba(134, 134, 134, 0.13);
				a
					float: left;
					padding: .65em 1em;
					border-radius: 4px;
					border: 1px solid #2c3e50;
					font-weight: 900;
					color: #2c3e50;
					line-height 1.5em
					text-decoration none
					transition-duration 0.5s
					i
						margin-right .5em
				a:hover
					background-color #2c3e50
					color #fff
				a:last-child
					float right
					i
						margin-left .5em
			article > figure > img
				width 100%
				height auto
			article
				h1
					font-size 2.7em
					margin-top .45em
					font-weight 900
					line-height 1.1em
					color #2c3e50
					text-align justify
					padding-bottom: .6em;
					border-bottom: 1px solid rgba(208, 208, 208, 0.59);
			.info
				color #a1b1bc
				font-size 1.1em
				font-weight 300
				margin-bottom 2.5em
				h2, h3, h4
					font-weight 400
					color #a1b1bc
			.tags
				border 1px solid rgba(153, 153, 153, 0.23)
				margin-bottom 2.5em
				span
					display inline-block
					padding 1em 1.2em
					background-color #2c3e50
					color #fff
				ul
					padding 0 0 0 1.5em
					list-style none
					display inline-block
					li 
						display inline-block
						font-style italic
						margin 0 .2em 0 0
						color #a1b1bc
	.comments-area			
		font-weight 100
		margin-bottom: 3em;
		.comment-form-author, .comment-form-email
			float left
			width 50%
			margin-bottom 1.5em
			position relative
			
		.comment-form-author
			padding-right .8em
			input
				background-color: rgba(236,236,236,0.18);
		.comment-form-email:after, .comment-form-author:after
			font: normal normal normal 14px/1 FontAwesome;
			position absolute
			z-index 999
			right 1em 
			top: 1.15em;
			font-size: 1.1em;
			color: #999;
		.comment-form-author:after
			content "\f007"
			right 1.7em
		.comment-form-email:after
			content "\f0e0"
		.comment-form-email
			padding-left .8em
		.box
			border: 1px solid rgba(85, 85, 85, 0.19);
			padding-top: 2.2em;
			padding-bottom: 1em;
			margin-bottom: 2em;
			overflow hidden
		.comments-title
			font-weight 400
			font-size 2.5em
			margin-bottom .5em 
		.comment-list
			padding-left 0
			list-style none
			.avatar
				text-align center
				margin-bottom 1.5em
				img
					width 80px
					height auto
					border-radius: 5px;
					border: 5px solid #fff;
					box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.13);
			h4
				font-weight: 600;
				color: #34495e;
				font-size: 1.3em;
				margin-bottom: .35em;
				margin-top: 0;
			.reply
				float right
				a
					color: #fff;
					background-color: #2c3e50;
					font-weight: 600;
					text-transform: uppercase;
					padding: .45em .8em;
					border-radius: 4px;
					font-size: .85em;
			.comment-date
				margin-bottom .5em
			article
				margin-bottom 1.5em
			li
				display block
			ol
				padding-left 1.5em
		.comment-reply-title
			font-weight 400
			font-size 2.8em
			margin-top 0
		#comment
			width 100%
			display block
			height: 250px;
			background-color: rgba(236, 236, 236, 0.18);
			border-color: rgba(182, 182, 182, 0.28);
			outline none
			padding: 1.5em;
		.comment-form-url
			display none
		
		.comment-form-email input, .comment-form-author input, .comment-form-email label, .comment-form-author label
			display block 
			padding .35em
			width 100%
		.comment-form-email input, .comment-form-author input
			padding 1em
			outline none
			border: 1px solid rgba(153, 153, 153, 0.35)
		#submit
			font-weight 600
			background-color: #2c3e50
			color #fff
			border 0
			padding: .8em 1em;
			font-size: 1.5em;
			display: block;
			margin-top: 1em;
			border-radius: 4px;
#solicitar
	p
		margin 0
	form
		margin-top 0
		input, button, textarea
			border: 1px solid rgba(191, 191, 191, 0.42);
			padding: .8em 1em;
			border-radius: 4px;
			width: 98%;
		label, input, button, textarea
			display block
			outline none
		input
			margin-bottom .5em
		label
			font-weight 600
			text-transform: uppercase;
			color: #2c3e50;
			margin-bottom: .25em
			span
				color #1abc9c
		button 
			margin-top 0
			color #fff
			letter-spacing 1px
			padding .8em .5em
			text-transform: uppercase;
			font-weight 900
			background-color: #1abc9c
			width 110px
			margin-bottom 2em
			transition-duration .5s
		button:hover
			background-color: #2c3e50
.contacto
	#map
		
		h1
			font-size 1.3em
			letter-spacing 1px
			color #2c3e50 
			font-weight 900
			margin-bottom .2em
		p
			font-weight: 300;
			margin-bottom: .2em;
			margin-top: .2em;
		a
			color #1abc9c
		.gm-style-iw #content
			color #a1b1bc
			width: 200px
	form
		margin-top 4em
		input, button, textarea
			border: 1px solid rgba(191, 191, 191, 0.42);
			padding: .8em 1em;
			border-radius: 4px;
			width: 98%;
		label, input, button, textarea
			display block
			outline none
		input
			margin-bottom .5em
		label
			font-weight 600
			text-transform: uppercase;
			color: #2c3e50;
			margin-bottom: .25em
			span
				color #1abc9c
		button 
			margin-top 0
			color #fff
			letter-spacing 1px
			padding .8em .5em
			text-transform: uppercase;
			font-weight 900
			background-color: #1abc9c
			width 110px
			margin-bottom 2em
			transition-duration .5s
		button:hover
			background-color: #2c3e50
	.info
		color #a1b1bc
		font-weight 300
		margin-top 1em
		margin-bottom 4em
		h2
			font-weight 400
			font-size 2.5em
			margin-bottom .3em		
		h3
			font-weight 900
			font-size 1.1em
		a
			color #1abc9c
			
img.alignleft
	float left
	margin: .5em 1em 1em 0;
img.alignright
	float right
	margin: 1em 0 1em 1em;
a.menu-info
	display none
	position: relative;
	margin: 0 auto 2em;
	max-width: 150px;
	border: 1px solid #d4d4d4;
	font-size: 1em;
	padding: .6em .8em;
	background-color: #fff;
	span
		display: block;
		right: 0;
		padding: .6em .8em;
		position: absolute;
		top: 0;
		border-left: 1px solid #d4d4d4;
.show-modile
	display none
#breadcrumbs
	font-weight: 400;
	font-size: 1.1em;
	margin-top: 2.2em;
	color: #109c9d;
	.breadcrumb_last
		color #1a1c27
	.breadcrumb_last
		padding-left 1em 
	a
		padding-right 1em
		padding-left 1em
@media (min-width: 992px )
	.blog .recent-posts article a
		font-size .75em
	.blog .list-posts article
		font-size .85em
	.blog .detalle .box article h1
		font-size 2.4em
	.services .tipo article .item-serv
		padding-top 1.5em
	.featured .box h2
		font-size: 1em;
	
@media (min-width: 1200px )
	.blog .recent-posts article a
		font-size .965em
	.blog .list-posts article
		font-size 1em
	.blog .detalle .box article h1
		font-size 2.8em
	.services .tipo article .item-serv
		padding-top: 3.5em;
	.featured .box h2
		font-size 1.3em
@media (max-width: 1200px )
	header
		font-size .9em
	.services
		padding 2em 0 4em
	.services figure img
		height 430px
	.services .tipo h2
		font-size 1.8em
	.services .tipo article h3
		font-size 1.15em
	.services .tipo article  p.excerpt
		font-size: .9em;
	.services .tipo article a.btn-vermas
		margin-bottom: 2em;
		font-size: .9em;
	.news h3
		font-size 1.2em
	.news p
		font-size: .9em;
	.blog .list-posts article h2
		font-size 1.65em
		line-height 1.1em
	
@media (max-width: 1024px )
	header
		opacity 1
		padding: 1.35em 0
	header .logo
		margin 0
	header .logo img
		height: 55px;
	.services .tipo article p.excerpt
		font-size 1em
	.services .tipo article h3
		font-size 1.35em
	.news h3
		font-size 1.2em
	.news p
		font-size: .9em;
@media (max-width: 992px ) 
	header .menu
		display none
	header a.menu-dropdown
		float: right;
		display: block;
		color: #ececec;
		font-size: 2.2em;
		padding: .1em .5em;
		margin-top: .15em;
		background-color: rgb(16, 157, 151);
	.services .tipo figure
		display none
	.mobile
		display block
	.services .tipo h2
		text-align center
	.services .tipo .mobile
		display block
		margin 0 auto 3em
		text-align center
	.news article
		overflow hidden
		margin-bottom 2em
	.suscribe h2
		margin-bottom 2.5em
		margin-top 3em	
		text-align center
	.nosotros .banner article
		font-size .7em
	.nosotros .banner, .nosotros .banner .container .col-md-12
		height 250px
	a.menu-info
		display block
	.productos .view
		padding-top 2em
	.productos	nav
		display none
	.servicios article .box a span
		font-size 1em
	.servicios article h2
		font-size 1.2em
		line-height 1.2em
	.servicios 
		.services .heading h2
			font-size 2.35em
	.servicios .detalle .heading h2
			font-size 2.35em
	.servicios .detalle .info > h2
		font-size: 1.8em;
		line-height: 1.1em;
	.servicios .detalle .info article
		font-size 1.1em
	.blog .list-posts article figure
		height auto
	.blog .list-posts article
		figure > a
			position relative
			display block
			height auto
			img, iframe
				width: 100%
				height 100%
	.blog .list-posts article .btn-vermas
		margin 0 auto
		display block
		text-align center
	.blog .recent-posts article,.blog .recent-posts figure
		padding-left 15px
		font-size 1.1em
		line-height 1.5em
	.blog .recent-posts article
		padding-right 15px
	.blog .find-post
		margin 2.5em 3em 1em
	.blog .detalle .box article h1
		font-size 2.2em
		text-align left
	.contacto form button
		margin 2.5em auto 0
	.contacto .info h2
		font-size 1.9em
	.productos .view .box article
		font-size .5em
	.productos
		.featured .box article figure a:after
			font-size 4em
	.featured .box article figure a img
		max-height: 260px;
	.hidden-mobile
		display none
	.show-modile
		display block
	.recent-posts
		padding-bottom 2em
	.home .tipo .box-tipo
		top initial
		transform initial
@media (max-width: 769px ) 
	
	.featured h2.heading, .news .heading
		text-align center
		line-height: 1em;
	.news .heading
		overflow hidden
		margin-bottom: .8em;
	.services .tipo
		font-size: 1.2em;
		text-align: center;
		article span.icono
			float none
			display block
			margin 0 auto 1em
		.mobile
			margin-bottom 2em
	.services .tipo article h2
		margin-bottom .5em
		font-size 1.8em
	.services .tipo article p.excerpt
		font-size .9em
	.services .tipo article h3
		font-size 1em
	.news figure, .news .info
		width 100%
	.news p
		font-size 1.1em
	.news h3
		font-size 1.35em
	footer
		text-align center
	footer h2
		margin-bottom .5em
	footer p
		margin: 1em auto 0;
		max-width: 100%;
		text-align: center;
	footer .tel, footer .dir
		margin-bottom: 1em;
		padding: 3em 0 0;
		background-position: 50% 20%;
	.featured .box h2
		text-align center
	footer .copy
		font-size .8em
	header a.menu-dropdown
		font-size 2.5em
	.nosotros .contenido .orientacion .box
		width 100%
		max-width 480px
	.nosotros .contenido .politica .box
		margin-bottom 2em
	.nosotros .contenido .politica .box h2
		text-align center
		margin-top 1em
	.nosotros .contenido .politica h2, .nosotros .contenido article h2
		text-align center
	.nosotros .banner article
		font-size .7em
	.productos .full, .productos .thumb
		height 380px
	.productos
		
		.title
			font-size .7em
		.especificaciones, .caracteristicas, .aplicaciones, .observaciones, .certificaciones
			h2
				margin: 1.5em 0 1em;
		.certificaciones
			text-align center
			ul li 
				width 120px
				margin-bottom 1em
	.blog .list-posts article h2
		font-size 1.65em
		line-height 1.1em
	.blog .detalle .box .tags
		border 0
		text-align center
	.blog .detalle .box nav
		font-size .9em
	.blog .recent-posts figure, .blog .recent-posts article
		height auto
	.blog .recent-posts figure
		img, iframe
			height 100px
	.blog .comments-area 
		.comment-reply-title
			font-size 2em
		#submit
			font-size 1.2em
			margin 2em auto 2em
	.blog .comments-area .comment-form-author, .blog .comments-area .comment-form-email
		width 100%
		padding 0
		margin-top 0
	.blog .comments-area .comment-form-author:after
		right: 1.1em;
	#breadcrumbs
		display none
@media (max-width: 580px )
	.productos .full, .productos .thumb
		height 320px
	.blog .detalle .box article h1
		font-size 2em
		text-align left
	.blog .detalle .box .info
		font-size .95em
	footer
		ul
			overflow hidden
			margin-bottom 2em
		.tel, .dir
			width: 50%;
			float: left;
		
	.nosotros .banner h1
		font-size 3em
	.blog .list-posts article figure > a
		height 300px
	.blog .list-posts article
		figure > a
			img, iframe
				width: 100%
				height 300px